/* ----- General ----- */

section {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

p {
    @include font-style(fs-paragraph-default);
}