/* ----- General ----- */

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
  }

section {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

body {
    display: block;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

p {
    @include font-style(fs-paragraph-default);
}