/* ----- Menu Section ----- */
.menu-section {
    height: 100%;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: $color-main-background;
        position: relative;
        top: -40px;
        bottom: 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin-bottom: 0;
        height: calc(100% + 40px);

        @include responsive(desktop) {
            @include responsive-container;
        }
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 48px;
        margin-top: 32px;

        h1 {
            @include font-style(fs-title-name-restaurant);
        }

        @include responsive(desktop) {
            margin-top: 50px;
        }
    }

    &__subtitle {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 28px;
        margin-left: 13px;
        margin-bottom: 0;
        width: calc(85% + 45px);

        h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        div {
            position: relative;
            width: 50px;
            border: 3px solid $color-decorative;
            bottom: 0;
            left: 0;
        }

        @include responsive(desktop) {
            @include width-element-in-menu-restaurant-in-responsive-desktop(45px);
        }
    }

    &__card {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 14px;
        gap: 10px;
        margin: auto 13px;
        width: 85%;
        padding-right: 10px;

        &--info {
            width: calc(100% - 40px);
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;

            h3 {
                display: block;
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: border-box;
                width: 100%;
                transition: all 0.2s ease-in-out;
            }
    
            p {
                display: block;
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 0;
                margin-right: 0;
                padding-right: 0;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                box-sizing: border-box;
                width: 100%;
                transition: all 0.2s ease-in-out;
            }
        }

        &--price {
            display: block;
            font-weight: 700;
            transform: translateX(0);
            transition: transform 0.2s ease-in-out;
        }
        
        &--checked {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            background: #99E2D0;
            border-radius: 0px 15px 15px 0px;
            width: 59px;
            height: 100%;
            
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.2s ease-in-out;
            
            i {
                color: white;
                width: 20px;
                height: 20px;
                transform: rotate(180deg);
                transition: transform 0.2s ease-in-out;
            }
        }

        &:hover {
            .menu-section__card--checked {
                transform: scale(1);

                i {
                    transform: rotate(0);
                }
            }

            .menu-section__card--price {
                transform: translateX(-59px);
            }

            .menu-section__card--info {
                width: calc(100% - 61px);

                p {
                    padding-right: 33px;
                }
            }
        }

        @include responsive(desktop) {
            @include width-element-in-menu-restaurant-in-responsive-desktop;
        }
    }

    &__command-button {
        display: flex;
        justify-content: center;
    }

    .button {
        margin: 40px;
    }

    @include responsive(desktop) {
        @include responsive-section;
    }
}

.menu__loader {
    animation-name: opacity-anim;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-duration: $loader__menu-animation-duration;

    @for $i from 1 through 13 {
        &--#{$i} {
            animation-delay: $loader__menu-animation-wait + $loader__menu-animation-delay * $i;
        }
    }
}