/* ----- Menu Section ----- */
.menu-section {
    height: 100%;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: $color-main-background;
        position: relative;
        top: -40px;
        bottom: 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin-bottom: 0;
        height: calc(100% + 40px);

        @include responsive(desktop) {
            @include responsive-container;
        }
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 48px;
        margin-top: 32px;

        h1 {
            @include font-style(fs-title-name-restaurant);
        }

        @include responsive(desktop) {
            margin-top: 50px;
        }
    }

    &__subtitle {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 28px;
        margin-left: 13px;
        margin-bottom: 0;
        width: calc(85% + 45px);

        h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        div {
            position: relative;
            width: 50px;
            border: 3px solid $color-decorative;
            bottom: 0;
            left: 0;
        }

        @include responsive(desktop) {
            @include width-element-in-menu-restaurant-in-responsive-desktop(45px);
        }
    }

    &__card {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 14px;
        margin: auto 13px;
        width: 85%;

        h3 {
            margin: 5px;
            font-size: 18px;
        }

        p {
            margin: 5px;
            font-size: 15px;
        }

        &--price {
            font-weight: 700;

            @include anim-switch(price-translate-anim, 200ms, alternate);
        }

        &--checked {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            background: #99E2D0;
            border-radius: 0px 15px 15px 0px;
            width: 59px;
            height: 100%;

            transform-origin: right;
            transform: scaleX(0);
            
            @include anim-switch(checked-div-anim, 200ms, alternate);

            i {
                color: white;
                width: 20px;
                height: 20px;
            }
        }

        &:active {
            .menu-section__card--checked {
                animation-play-state: running;
            }

            .menu-section__card--price {
                animation-play-state: running;
            }
        }

        @include responsive(desktop) {
            @include width-element-in-menu-restaurant-in-responsive-desktop;
        }
    }

    &__command-button {
        display: flex;
        justify-content: center;
    }

    .button {
        margin: 40px;
    }

    @include responsive(desktop) {
        @include responsive-section;
    }
}